:root {
    --widget-border-color: red;
    --widget-text-color: white;
}

body {
    background-image: url("../img/nebula.jpg");
    background-size: 100vw;

    font-family: monospace;
    font-size: .8rem;
}

#widget-container {
    display: grid;
    width: calc(100vw - 32px);
    height: calc(100vh - 32px);
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 1.5vw;
}

.iss-widget {
    border-color: var(--widget-border-color);
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    
    color: var(--widget-text-color);

    padding: .5vw;

    width: 100%;
    height: 100%;

    backdrop-filter: blur(3px) brightness(50%);

    overflow-wrap: anywhere;
    overflow-y: hidden;
}

legend {
    font-style: italic;
    padding-left: .4vw;
    padding-right: .4vw;
}

.label {
    display: grid;
    place-items: center;
}

.label-group {
    padding: 1vw;
}

.hcentered-text {
    text-align: center;
}

.vcentered {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hcentered {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.raligned {
    text-align: right;
}

.label-text-medium {
    font-size: 1.5rem;
}

.label-text-small {
    font-size: .9rem;
}

.label-text-smaller {
    font-size: .75rem;
}

.label-text-tiny {
    font-size: .5rem;
}

.invert {
    filter: invert();
}

.image-container {
    width: 100%;
    height: 85%;
}

.image-container-full {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    aspect-ratio: 1;
    height: 69%;
}

.dial {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.earth {
    left: 0;
    position: absolute;
}

.top-left {
    position: absolute;
    left: 0;
}

.bottom-left {
    position: absolute;
    left: 0;
    bottom: 0;
}

.top-right {
    position: absolute;
    right: 0;
    top: 0;
}

.bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.label-ok {
    color: rgb(0, 255, 0);
}

.label-notok {
    color: red;
}

.label-below {
    margin-top: 1vh;
}